apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - bar.my.domain
  resources:
  - cocktails
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - bar.my.domain
  resources:
  - cocktails/finalizers
  verbs:
  - update
- apiGroups:
  - bar.my.domain
  resources:
  - cocktails/status
  verbs:
  - get
  - patch
  - update
