apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: databases.my.domain
spec:
  group: my.domain
  names:
    kind: Database
    listKind: DatabaseList
    plural: databases
    shortNames:
    - db
    singular: database
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              configMapName:
                type: string
              databaseName:
                type: string
              image:
                type: string
              passwordSecretName:
                type: string
              replicas:
                format: int32
                maximum: 100
                minimum: 1
                type: integer
              serviceType:
                type: string
              storage:
                format: int32
                maximum: 100000
                minimum: 1
                type: integer
              storageClass:
                type: string
              userName:
                type: string
            required:
            - image
            - replicas
            - storage
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              deploymentName:
                type: string
              observedGeneration:
                format: int64
                type: integer
              phase:
                type: string
              readyReplicas:
                format: int32
                type: integer
              serviceName:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
